.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 322px;
    padding: 36px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 2;
    animation: 0.6s fadein;
}

@media screen and (min-width: 768px) {
    .popup {
        width: 33.33%;
        height: 330px;
    }
}
