.profile__info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .profile__info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
