.popup__form-title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: black;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .popup__form-title {
    font-size: 24px;
    line-height: 29px;
  }
}
