.popup__close-btn {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 100%;
  top: -30px;
  border: none;
  background: url(../../../images/popup__close-btn.svg) no-repeat;
  background-size: contain;
  transition: opacity 0.5s;
}

@media screen and (min-width: 768px) {
  .popup__close-btn {
    width: 40px;
    height: 40px;
    left: 100%;
    top: -40px;
  }
}
