.profile__avatar-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  position: absolute;
  width: 120px;
  height: 120px;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 2;
}
