.modal-box {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 2;
    animation-duration: 0.6s;
    animation-name: fadein;
}
